# Ignore the Python virtual environment.
.venv/

# Ignore the Ansible Vault password file.
vault.password

# Ignore the project logs. (There's no way to reasonably version control these; it's
# better to just catch them in backups, if possible.)
ansible.log
logs/

# Ignore Vim swap file.
*.sw*

# Ignore image builds.
output/

# Ignore the Vagrant virtual environment.
.vagrant/
