[defaults]

# Path to the Python 3 interpreter, which is used for all module execution.
interpreter_python = /usr/bin/python3

# Use an inventory file specific to this repo.
inventory = hosts.ini

vault_password_file = vault.password

log_path = ansible.log

# Log how long each Ansible task takes to run.
# Reference: http://stackoverflow.com/a/29132716/1851299
callback_whitelist = profile_tasks, profile_roles

[ssh_connection]
# Significantly speeds up Ansible processing. Note: RHEL 7 systems have `requiretty`
# enabled by default, which will prevent this from working until it's addressed.
pipelining = True
